*,
*::after,
*::before {
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}
button {
  cursor: pointer;
}
body {
  src: ("../fonts/ptsans-400.woff2") format("woff2");
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333;
}
.navigation__menu-link {
  color: #000;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}
.user-menu__btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  background-color: #756157;
}
.header__content{
    background-image: url(../images/header-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.description__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000;
  text-align: center;
  text-transform: uppercase;
}
.description__subtitle {
  text-align: center;
}
.feauters__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000;
}
.feauters__title--mod {
  color: #fff;
}
.feauters__text {
  text-align: center;
}
.feauters__advantage-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}
.feauters__advantage-text {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}
.search__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}
.search__text {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}
.search__button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #fff;
  background-color: #756157;
}
.mailing__inner{
    background-image: url(../images/mailing-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.mailing__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}
.mailing__text {
  text-align: center;
  color: #fff;
  text-align: center;
}
.mailing__btn {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #fff;
  text-align: center;
  background-color: #82b3d3;
}
.mailing__input::placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000;
  opacity: 0.6;
}
.footer__phone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000;
}
